[Desktop Entry]
Encoding=UTF-8
Name=Dogecoin Cash Core
Comment=Connect to the Dogecoin Cash P2P Network
Comment[de]=Verbinde mit dem Dogecoin Cash peer-to-peer Netzwerk
Comment[fr]=Dogecoin Cash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dogecoin Cash, eşten eşe kriptografik sanal para birimi
Exec=dogecoin-qt %u
Terminal=false
Type=Application
Icon=dogecoin128
MimeType=x-scheme-handler/dogecoin;
Categories=Office;Finance;
